<mat-grid-list cols="1" rows="1" rowHeight="2.3:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Acepta/Rechaza Trabajador</mat-card-title>
        <mat-card-subtitle>aceptar o rechazar</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field>
          <mat-label>filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="filtro" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1 table-width" >

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="negrita">Nombre </span></th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="negrita">Apellido </span></th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="negrita center">Dni </span></th>
            <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
          </ng-container>

          <ng-container matColumnDef="baja">
            <th mat-header-cell *matHeaderCellDef class="mat-column-radio-buttons" ><span class="negrita center"> baja </span></th>
            <td mat-cell *matCellDef="let element; let j = index;">
              <div class="center">
              <button mat-icon-button color="primary" (click)="deleteTicket(j)"> <mat-icon>delete</mat-icon></button>
            </div>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef class="mat-column-radio-buttons" ><span class="negrita center"> Estado </span></th>
            <td mat-cell *matCellDef="let element">
              <mat-radio-group aria-label="Select an option"  (change)="onChange(element.id,$event)">
                <mat-radio-button color="primary" value="1">Aceptar</mat-radio-button>
                <mat-radio-button color="primary" value="2" >Rechazar</mat-radio-button>
              </mat-radio-group>
            
            </td>
          </ng-container>

        


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>

      <mat-card-actions class="center">
        <button mat-button  (click)="limpiar()">limpiar</button>
        <button mat-button (click)="enviarSolicitud()">enviar</button>
        
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>