<mat-grid-list cols="1" rows="1" rowHeight="2.3:1">
  <mat-grid-tile>
    <mat-card>
        <mat-card-header>      
         <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Alta Usuarie</mat-card-title>
          <mat-card-subtitle>Usuarie</mat-card-subtitle>
        </mat-card-header>
      
        <mat-card-content>      
            <mat-form-field>
                <mat-label>nombre</mat-label>
                <input matInput [(ngModel)]="usuarie.nombre">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>apelido</mat-label>
                <input matInput  [(ngModel)]="usuarie.apellido">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>documento</mat-label>
                <input matInput [(ngModel)]="usuarie.documento">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>constrasaña</mat-label>
                <input matInput  [(ngModel)]="usuarie.password" [type]="'password'">
              </mat-form-field>  
              <br>    
              <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput  [(ngModel)]="usuarie.email">
              </mat-form-field>      
              <br>
              <mat-form-field>
                <mat-label>telefono</mat-label>
                <input matInput  [(ngModel)]="usuarie.telefono">
              </mat-form-field>      
        </mat-card-content>
        <mat-card-actions class="center">
            <button mat-button (click)="enviar_usuario()" [disabled]="isEnabled()">enviar</button>            
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

