<mat-grid-list cols="1" rows="1" rowHeight="2.3:1">
  <mat-grid-tile>
    <mat-card>
        <mat-card-header>      
         <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Sign-Up</mat-card-title>
          <mat-card-subtitle>elija una opción</mat-card-subtitle>
        </mat-card-header>      
        <mat-card-actions class="center">
            <button mat-button (click)="goToUsuarieSignUp()">Usuarie</button>
            <button mat-button (click)="goToAdministradorSignUp()">Administrador</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  