<mat-grid-list cols="1" rows="1" rowHeight="2.3:1">
  <mat-grid-tile>
    <mat-card>
        <mat-card-header>      
         <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Acepta/Rechaza Trabajador</mat-card-title>
          <mat-card-subtitle>aceptar o rechazar</mat-card-subtitle>
        </mat-card-header>
      
        <mat-card-content>      
          <div class="center">
            <app-trabajador></app-trabajador>
          </div>            
        </mat-card-content>
        <mat-card-actions class="center">                   
            <button mat-button (click)="goToRecomendaciones()">aceptar</button>            
        </mat-card-actions>
      </mat-card>
</mat-grid-tile>
</mat-grid-list>
