<mat-grid-list cols="1" rows="1" rowHeight="2.3:1">
    <mat-grid-tile>
      <mat-card>
          <mat-card-header>      
           <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Contacto</mat-card-title>
            <mat-card-subtitle>opciones de notificacion</mat-card-subtitle>
          </mat-card-header>    
          <mat-card-content>      
            <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput [(ngModel)]="email"[type]="'email'">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>telefono</mat-label>
                <input matInput [(ngModel)]="telefono" >
              </mat-form-field>      
              <br>
                <mat-checkbox color="primary">recibir notificaciones</mat-checkbox>
        </mat-card-content>  
          <mat-card-actions class="center">
              <button mat-button >actualizar</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
